/* ELEMENT STYLES */

body {
  background-color: darkorange;
  color: white;
  text-transform: uppercase;
}

header {
  color: black;
  padding: 5px 10px;
  text-align: center;
  display: flex;
  align-items: center;
  border-bottom: solid 2px black;
}

header h1 {
  flex-grow: 1;
  font-size: 1.5em;
  letter-spacing: 2px;
}

/* FORMS */

button {
  outline: none;
}

form {
  display: flex;
}

input {
  flex-grow: 1;
  border-width: 0 0 1px 0;
  margin: 15px 10px 15px 15px;
  padding: 10px;
  border-radius: 5px;
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  outline: none;
}

/* COMPONENT STYLES */

.scoreboard {
  background: black;
  width: 700px;
  margin:70px auto;
  border-radius: 6px;
}

.player {
  display:flex;
  font-size: 1.2em;
  border-bottom: solid 2px black;
  letter-spacing: 2px;
}

.player-name:hover {
  visibility: visible;
}

.player-name,
.counter-score {
  color: black;
}

.player-name {
  flex-grow: 1;
  line-height: 3.5em;
  padding-left: 10px;
}

.stats {
  width: 170px;
  margin: 0 0 0 28px;
}

.stats td:first-child {
  text-align: right;
  letter-spacing: 2px;
  font-size: .7em;
}

.stats td:last-child {
  text-align: left;
}

.counter {
  display: flex;
  width: 190px;
}

.counter-action {
  border: none;
  font-size: 1.15em;
  font-weight: bold;
  display: block;
  padding: 20px 20px;
  outline: none;
}

.increment:hover {
  background: tomato;
}

.decrement:hover {
  background: tomato;
}

.counter-score {
  flex-grow: 1;
  text-align: center;
  font-size: 2em;
  line-height: 2em;
}
