/* ELEMENT STYLES */

body {
  background-color: #e8e7e7;
  font-family: arial;
  text-transform: uppercase;
}

header {
  color: #fff;
  padding: 5px 10px;
  text-align: center;
  display: flex;
  align-items: center;
  background-color: #8063FA;
  border-bottom: solid 2px #D4CAFF;
}

header h1 {
  flex-grow: 1;
  font-size: 1.5em;
  letter-spacing: 2px;
  font-weight: normal;
}

/* FORMS */

button {
  outline: none;
}

form {
  display: flex;
  background-color: #8063FA
}

/* COMPONENT STYLES */

.scoreboard {
  background: #fff;
  width: 700px;
  margin: 70px auto;
  border-radius: 6px;
  box-shadow: 0 2px 0 rgb(103, 104, 250);
  overflow: hidden;
}

.player {
  display:flex;
  font-size: 1.2em;
  border-bottom: solid 2px #EEEEEE;
  letter-spacing: 2px;
}

.player:last-of-type {
  border-bottom-color: #D4CAFF;
}

.player-name:hover {
  visibility: visible;
}

.player-name,
.counter-score {
  color: #2F2366;
}

.player-name {
  flex-grow: 1;
  line-height: 3.5em;
  padding-left: 10px;
}

.stats {
  width: 170px;
  margin: 0 0 0 28px;
  font-weight: normal;
}

.stats td:first-child {
  text-align: right;
  font-weight: normal;
  letter-spacing: 2px;
  font-size: .7em;
}

.stats td:last-child {
  text-align: left;
}

.counter {
  display: flex;
  width: 190px;
}

.counter-action:hover {
  color: #fff;
}

.counter-action {
  border: none;
  font-size: 1em;
  font-weight: bold;
  color: #B0AEBA;
  display: block;
  padding: 20px 20px;
  outline: none;
  cursor: pointer;
}

.increment:hover {
  background: #83D97C;
}

.decrement:hover {
  background: #EF5350;
}

.counter-score {
  flex-grow: 1;
  text-align: center;
  font-size: 2em;
  line-height: 2em;
}
